@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype')
}

header {background-image:linear-gradient(to bottom,#036e33, #1B3022 ); color: white; padding: 5px; height: auto; width: 100%; top:0; left:0; right:0; position:fixed}

#tituloheader {text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

nav > a {text-decoration: none; color: white; padding: 5px; font: normal 0.7em Arial, Helvetica, sans-serif;}
nav > a:hover {color: #B28B84;}
#pheader {text-align: center;}

