@charset "UTF-8";

body {background-color: #E7ECEF;font-family: Arial, Helvetica, sans-serif;}
h1  {color: #69353F;}
h1#principal {text-align: center;font-size: 3em; background-color: #FFD400; margin: 0 auto; width: fit-content;}
h2  {color: #9D79BC;}

.easy {color: #9D79BC }

.medium {color: #eecf31e7;}

.hard {color: #FE5F55;}

/*em html eh ID = CSS #
  em HTML eh clas = CSS .*/