    @charset "UTF-8";

    * {/*height:100%;*/ font-family: Arial, Helvetica, sans-serif;}
    h2{background-color: #32746D; color: white; width: fit-content;}
    p {text-align: justify; background-color: #87BFFF; color:white; width: fit-content;}

    body {background-image: linear-gradient(to right,#FFFCF2,#3B28CC);}
    main {background-color: white; width: 600px; padding: 10px; margin: auto; border-radius: 20px; height: auto; box-shadow: 1px 1px 3px #2F2D2E;}

    h1 {
        background-color: #2F2D2E;
        color: white;
        text-align: center;
        box-shadow: 1px 1px 1px #ffffff;
        width: fit-content; /* Ajusta a largura para o conteúdo */
        margin: 0 auto; /* Centraliza o h1 */
        padding: 10px 20px; /* Adiciona espaçamento interno */
      }